<div class='center-text fabric canvasitem'>
  <div>
    <%= link_to t('.top'), root_path, class: "btn btn-outline-primary" %>
  </div>

  <div class="canvas-container-parent">
    <canvas id="fabricCanvas6" class="myCanvas" width="500" height="250"></canvas><br>
  </div>
  <div class="canvas-container-parent">
    <label>Choose Brush Color:</label>
    <input type="color" id="brushColorPicker" value="#000000"><br>
  </div>

  <div class="canvas-container-parent">
    <div class="d-flex">
      <div class="pr-2">
        <div id="brushSizePreview" style="border: 1px solid black; width: 50px; height: 50px; border-radius: 50%;"></div>
        <span id="brushSizeValue">5</span>px
        <br>
        <label>Brush Size (0.1 - 20):</label>
        <input type="range" id="brushSizePicker" min="0.1" max="20" step="0.1" value="5">
      </div>
      <div>
        <div id="eraserSizePreview" style="border: 1px solid black; width: 50px; height: 50px; border-radius: 50%;"></div>
        <span id="eraserSizeValue">5</span>px
        <br>
        <label>Eraser Size (0.1 - 30):</label>
        <input type="range" id="eraserSizePicker" min="0.1" max="30" step="0.1" value="5">
      </div>
    </div>
  </div>

  <div class="canvas-container-parent">
    <div class="d-flex">
      <div class="pr-2">
        <button id="usePenTool">Use Pen Tool</button>
      </div>
      <div class="pr-2">
        <button id="useEraserTool">Use Eraser Tool</button>
      </div>
      <div>
        <button id="useRectangleTool">Draw Rectangle</button>
      </div>
    </div>
  </div>

  <canvas id="canvas3" width="600" height="400"></canvas><br>
</div>