<div class='text-center pt-5 buttonitem'>
  <div class='try'>
    <h1 class='fw-bold'><%= t('.title', locale: :en) %></h1><br>
  </div>

  <%= link_to t('.memo'), static_pages_subpage_path, class: "default-button green-button green-button:hover green-button:focus" %>

</div>