@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');



/* ベースのスタイル
------------------------------------------ */

body {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  color: #000;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* 部品
------------------------------------------ */

/* flexbox */
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 見出し/ページタイトル */
.section-title {
  display: inline-block;
  position: relative;
  font-size: 1.75rem;
  font-weight: 700;
  text-align: center;
}

/* センター配置 */
.center-text {
  text-align: center;
}

.bold {
  font-weight: 700;
}

.extra-bold {
  font-weight: 800;
}

.top-margin {
  margin-top: 1rem;
}


/* deviseの部品
------------------------------------------ */
/* ボタン */
.default-button {
  position: relative;
  text-align: center;
  color: #fff;
  padding: 0.375rem 0.2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.3125rem 0 #D6D7D6;
  border: 1px solid transparent;
}

/* 緑ボタン */
.green-button {
  background-color: #9ADFCB;
  border-color: #9ADFCB;
}

.green-button:hover {
  background-color: #84BDAD;
  transition: all 0.3s;
}

.green-button:focus {
  outline: 0.2rem solid #C3E5DB;
}

/* 赤ボタン */
.red-button {
  background-color: #ECC4BA;
  border-color: #ECC4BA;
}

.red-button:hover {
  background-color: #D7A498;
  transition: all 0.3s;
}

.red-button:focus {
  outline: 0.2rem solid #EED3CC;
}




.try {
  font-family: 'Dela Gothic One', sans-serif;
  color: blue;
}

.myCanvas {
  border-width: 2px;
  border-style: solid;
  border-color: green;
  display: block; /* ブロックレベル要素として表示 */
  margin: auto; /* 水平方向の自動マージンで中央揃え */
}

.canvas-container-parent {
  display: flex;
  justify-content: center; // 水平方向の中央揃え
  align-items: center;     // 垂直方向の中央揃え
  height: 100%;            // 親要素に十分な高さを確保（必要に応じて）
}